<head>
    <!-- <msdropdown> -->
    <link rel="stylesheet" type="text/css" href="msdropdown/dd.css" />
    <script src="msdropdown/jquery.dd.js"></script>
</head>

<body>    
    <div class="container-fluid" id="main-back-flags">
        <!-- Header Menu -->
        <nav class="navbar color1">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                <% if current_player %> 
                    <a class="navbar-brand" href="#">Hi <%= current_player.name %> !</a>
                    <ul class="nav navbar-nav pull-right">
                        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                    </ul>
                <% else %>
                    <ul class="nav navbar-nav pull-right">
                        <li><%= link_to "Login", '/login' %></a></li> 
                        <li><%= link_to "Signup", '/signup' %></a></li> 
                    </ul>
                <% end %>
                </div> 
            </div>
        </nav> 

            <!--Form to create account-->
            <div class="row"> 
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 form-wrapper">
                    <p class="text-center form-title">Create your Account</p>
                    <p class="text-center form-text">and start hacking ...</p>
                    <%= form_for @player, :html => {:class => "form-horizontal center"} do |p| %>
<!--
                        <table>
                            <tr>
                                <td valign="top">
                                    <select id="avatar" name="avatar" class= "text-center" style="width:100px;">
                                       <option value="" data-description="Select your avatar"></option>
                                         <option value="A01" data-image="assets/avatars/Males/N04i.png"></option>
                                         <option value="C04" data-image="assets/avatars/Males/C04i.png"></option>
                                         <option value="A01" data-image="assets/avatars/Males/N04i.png"></option>
                                         <option value="C04" data-image="assets/avatars/Males/C04i.png"></option>                                                        <option value="A01" data-image="assets/avatars/Males/N04i.png"></option>
                                         <option value="C04" data-image="assets/avatars/Males/C04i.png"></option> 
                                    </select>
                                </td>
                            </tr>
                        </table>
-->
                        <div class="form-group">
                            <div class="input-group">
                                <%= p.text_field :name, :placeholder => "Name", class: "form-control" %>
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <%= p.email_field :email, :placeholder => "Email", class: "form-control"%>
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <%= p.password_field :password, :placeholder => "Password", class: "form-control" %>
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>                            
                            </div>
                        </div>
                        <div class="form-group">
                            <%= p.submit "Create an account", class: "btn btn-send btn-block" %>
                        </div>
                    <% end %>
                    <tr>
                        <td valign="top"><div id="byjson"></div></td>
                    </tr>
                </div>
            </div>
    </div>
</body>

<!--Script for dropdown menu-->
<script>
$(document).ready(function(e) {		
	//no use
	try {
		var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
												var val = data.value;
												if(val!="")
													window.location = val;
											}}}).data("dd");

		var pagename = document.location.pathname.toString();
		pagename = pagename.split("/");
		pages.setIndexByValue(pagename[pagename.length-1]);
		$("#ver").html(msBeautify.version.msDropdown);
	} catch(e) {
		//console.log(e);	
	}
	
	$("#ver").html(msBeautify.version.msDropdown);
		
	//convert
	$("select").msDropdown({roundedBorder:false});
	createByJson();
	$("#tech").data("dd");
});
function showValue(h) {
	console.log(h.name, h.value);
}
$("#tech").change(function() {
	console.log("by jquery: ", this.value);
})
//
</script>